body
{
    background-color: #3D3B3E;
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 
        "cookies"
        "header header header"
        "main main main"
        "footer footer footer";
    border-bottom: dashed 1 px;
}

/* #cookies {
    box-sizing: border-box;
    top:0; 
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    display: flex;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    text-align: center;
    justify-content: space-between;
}
  
.cookies-btn {
    height: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    float: right;
} */

#cookies
{
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-color:#2f3640 ;
    color:white;
    display:flex;
    text-align:center;
    justify-content:space-between;
}

.cookies-btn
{
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: right;
    color: white;
    height: 20%;
}
header .top
{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.logo
{
    margin-right: ;
}

.buttons, .researchbar
{
    float: right;
    margin-right:2%;
}

.researchbar
{
    margin-top:1%;
    margin-left:90%;
}

main
{
    display: grid;
    grid-template-columns:1fr 1fr  ;
    background-color: #fff;
    margin: 20px; ;
    width: 100%;
}

h1
{
    background-color: rgb(0, 170, 192);
    margin-top: 0;
}

h2
{
    background-color: rgb(0, 170, 192);
}

h3
{
    background-color:rgb(245, 100, 3) ;
    margin-top: 0;
    font-size: 32px;
}



.nav a, .dropdown-btn
{
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


.sidenav a:hover, .dropdown-btn:hover {
    color: black;
  }
  
  .active {
    background-color: white;
    color: black;
  }
  
  .dropdown-container {
      padding-left: 50px;
  }
  
  .dropdown-container a:hover {
      background-color: #bca60a;
  }

  .testimonials .author
  {
      float: right;
  }

  form
  {
      border: solid 1px;
  }

 
  h4
  {
      font-size: 25px;
  }
  .imgh4
  {
      float: left;
      width: 10%;
  }
  .connection
  {
      margin-left:60% ;
  }

  .inscriptionlogo
  {
      border: none;
      background-color: transparent;
      width: 5%;
  }


  table, tr, td, th {
    border: 1px solid black;
    border-spacing: 0;
}

.hautpage
{
    float: right;
}

footer
{
    text-align: center;
    color: white;
}

footer a
{
    color: gray;
}

footer .small
{
    font-size: 0.75em;
    color: rgb(114, 114, 114);
}